<component name="libraryTable">
  <library name="Server">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/SouMaisDelivery/Server/fpdf181.zip!/" />
      <root url="jar://$PROJECT_DIR$/SouMaisDelivery/Server/MPDF_6_0.zip!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>