/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */


/*==============================================
    GENERAL  STYLES    
    =============================================*/

    @media (min-width:768px){.navbar-header{float:none !important}}
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
}

#wrapper {
    width: 100%;
    margin-top: 50px;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background: #F3F3F3;
}

#page-inner {
    width: 100%;
    margin: 10px 20px 0px 0px;
    background-color: #fff!important;
    padding: 10px;
    min-height: 535px;
    max-height: 535px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.pad-top {
    padding-top: 15px;
}

i[ng-click^="excluir"]:hover,
.table thead tr th[at-attribute]:hover {
    cursor: pointer;
}

form label h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ocultarItem {
    display: none !important;
}


/*==============================================
    MENU STYLES    
    =============================================*/

.sidebar-collapse .nav {
    padding: 0;
    padding-top: 15px;
}

.sidebar-collapse>.nav>li>a {
    padding: 15px 10px;
    color: #214761;
    font-weight: 900;
    font-size: 16px;
    cursor: pointer;
}

.sidebar-collapse>.nav>li {
    border-bottom: 1px solid #e1e1e1;
}

.sidebar-collapse .nav>li>a:hover,
.sidebar-collapse .nav>li>a:focus {
    background: #F3F3F3;
    outline: 0;
}

.navbar-side {
    border: none;
    background-color: #fff;
}

.navbar-inverse {
    background-color: #1da2c9;
    border-color: #F0F0F0;
    min-height: 60px;
}

.nav>li>a>i {
    margin-right: 10px;
}

.logout-spn {
    float: right;
    color: #fff;
    font-size: 21px;
    font-weight: 800;
    margin: 20px;
    margin: 10px 25px 10px 50px;
}

.logout-spn a {
    text-decoration: none;
}

.active-link {
    background-color: #f3f3f3;
}

.navbar-brand>img {
    height: 150%;
}

#main-menu {
    height: 570px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-arrow-color: #214761;
    scrollbar-3dlight-color: #1da2c9;
    scrollbar-highlight-color: #FF0000;
    scrollbar-face-color: #d9edf7;
    scrollbar-shadow-color: #d9edf7;
    scrollbar-darkshadow-color: #FFFF00;
    scrollbar-track-color: #1da2c9;
}

#first,
#second,
#third,
#fourth {
    padding-top: 0;
    padding-left: 10%;
}

#first li a:hover,
#second li a:hover,
#third li a:hover,
#fourth li a:hover,
#fifth li a:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #d9edf7;
}

.row span>span {
    text-transform: uppercase;
    font-style: oblique;
    font-weight: bolder;
}


/*==============================================
    DASHBOARD STYLES    
    =============================================*/

.div-square {
    padding: 5px;
    border: 3px double #e1e1e1;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 5px;
}

.div-square>a,
.div-square>a:hover {
    color: #808080;
    text-decoration: none;
}

.aguarde {
    cursor: wait !important;
}

.border {
    border-bottom: 2px solid #BABACA;
    border-top: 1px solid #BABACA;
    padding-bottom: 5px;
    padding-top: 5px;
}

.radioCheckConfig.btn.btn-primary.active {
    background-color: #5cb85c;
    border-color: #4cae4c;
}


/*==============================================
    FOOTER STYLES     
    =============================================*/

.footer {
    background-color: #214761;
    width: 100%;
    color: #fff;
    padding: 20px 50px 20px 50px;
    padding-left: 20px;
}

.footer>a,
.footer>a:hover {
    color: #fff;
}


/*==============================================
    MEDIA QUERIES     
    =============================================*/

@media(min-width:768px) {
    #page-wrapper {
        margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 575px;
        max-height: 575px;
        overflow: hidden;
    }
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }
}